/*fonts start*/
/*fonts end*/
*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container__wide {
  max-width: 1600px;
  margin: 0 auto;
}

/* END container */
.section {
  padding: 90px 0;
}

.section--border-bottom {
  border-bottom: 2px rgba(229, 230, 229, 0.43) solid;
}

.section--without-padding {
  padding: 0 0 75px;
}

.section__header {
  width: 100%;
  max-width: 435px;
  margin-bottom: 35px;
}

.section__header--wide {
  max-width: 635px;
  margin: 0 auto 30px;
}

.section__header--wide-uncentered {
  max-width: 635px;
}

.section__header--bigger-width {
  max-width: 485px;
}

.section__title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  line-height: 1.27;
  font-weight: 600;
  color: #242f51;
  margin: 5px 0 12px;
}

.section__title--designed {
  width: 100%;
  max-width: 360px;
  margin-bottom: 25px;
}

.section__title--wide {
  text-align: center;
  max-width: 435px;
  margin: 0 auto 30px;
}

.section__title--ultra-wide {
  max-width: 572px;
  text-align: center;
  margin: 0 auto 30px;
}

.section__title--bigger-font {
  font-size: 40px;
}

.section__title--large-font {
  font-size: 48px;
  line-height: 1.20833;
}

.section__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  color: #616368;
  margin: 7px 0;
}

.section__subtitle--wide {
  text-align: center;
}

/* END section */
.header {
  z-index: 1000;
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  right: 0;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* END header */
.logo {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #fcae61;
}

.logo span {
  color: #242f51;
}

/* END logo */
.nav__link {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  color: #242f51;
  margin: 0 15px;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__footer {
  margin: 35px 0;
}

/* END nav */
.btn {
  cursor: pointer;
  min-width: 170px;
  min-height: 57px;
  padding: 15px 30px;
  background-color: #2500f9;
  -webkit-border-radius: 28.5px;
          border-radius: 28.5px;
  border: none;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.btn__text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.btn__switch {
  min-width: 136px;
  min-height: 48px;
}

.btn__switch-disable {
  background-color: transparent;
}

.btn__switch-disable .btn__text {
  color: #616368;
  opacity: .74;
}

.btn__switch-disable:hover .btn__text {
  color: #ffffff;
  opacity: 1;
}

.btn__wide {
  width: 210px;
}

.btn:hover {
  background-color: #260bc0;
}

/* END btn */
.intro {
  position: relative;
  height: 100vh;
  max-height: 1002px;
  padding-top: 170px;
  background-color: rgba(249, 251, 252, 0.4);
}

.intro__bg {
  width: 100%;
  max-width: 1600px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.intro__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.intro__item {
  width: 50%;
}

.intro__item--first {
  padding-left: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__suptext {
  position: relative;
  width: 100%;
  max-width: 365px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.62;
  font-weight: 400;
  color: #242f51;
  background-color: #e2eaed;
  -webkit-border-radius: 17.5px;
          border-radius: 17.5px;
  padding: 6px 45px;
  text-align: center;
  margin: 8px 0;
}

.intro__img {
  position: absolute;
  left: 0;
  top: 0;
  padding: 11px;
  background-color: #feaa25;
  -webkit-border-radius: 17.5px;
          border-radius: 17.5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__title {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  line-height: 1.25;
  font-weight: 600;
  color: #242f51;
  margin: 8px 0;
}

.intro__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.62;
  font-weight: 400;
  color: #616368;
  margin: 8px 0;
}

.intro__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 38px 0 8px;
}

.intro__link {
  margin-left: 25px;
}

.intro__item--second {
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__phone {
  width: 100%;
  max-width: 446px;
}

/* END intro*/
.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.link__item {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2500f9;
  text-decoration: none;
}

.link__item:hover {
  text-decoration: underline;
}

.link__hiden a {
  color: transparent;
}

.link__hiden:hover a {
  color: #2500f9;
}

.trusted {
  text-align: center;
}

.trusted__title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  color: #242f51;
  margin-bottom: 40px;
}

.trusted__body {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 934px;
  width: 100%;
}

/* END trusted */
.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  width: 50%;
}

.features__item--first {
  position: relative;
}

.features__phone {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: -50px;
}

.features__body {
  width: 100%;
  max-width: 380px;
  padding: 48px 0;
}

/* END features */
.row-col {
  margin-bottom: 55px;
  position: relative;
  padding-left: 120px;
}

.row-col:last-child {
  margin-bottom: 0;
}

.row-col__horizontal {
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 120px;
  width: 100%;
  max-width: 265px;
}

.row-col--centred {
  margin-bottom: 55px;
  padding-top: 0;
}

.row-col__padding--bottom {
  padding-bottom: 40px;
}

.row-col__circle {
  position: absolute;
  top: 16px;
  left: 0;
  height: 88px;
  width: 88px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-col__circle--centred {
  position: static;
  margin: 0 auto 30px;
}

.row-col__circle--red {
  background-color: #ffecef;
}

.row-col__circle--blue {
  background-color: #f4f4ff;
}

.row-col__circle--green {
  background-color: #e4ffee;
}

.row-col__circle--ocean {
  background-color: #eaf9ff;
}

.row-col__circle--yellow {
  background-color: #fff6d3;
}

.row-col__circle--brown {
  background-color: #fdeee4;
}

.row-col__title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #242f51;
}

.row-col__title--red {
  color: #f55767;
}

.row-col__title--blue {
  color: #2563ff;
}

.row-col__title--green {
  color: #40975f;
}

.row-col__title--centred {
  text-align: center;
}

.row-col__text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  color: #616368;
}

.row-col__text--centred {
  text-align: center;
}

/* END row-col */
.jackpots__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.jackpots__item {
  width: 100%;
  max-width: 550px;
  padding: 0 60px;
}

.jackpots__item--bold {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 600;
  color: #242f51;
  border-right: 1px rgba(75, 74, 72, 0.38) solid;
}

.jackpots__item--regular {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  color: #616368;
}

.jackpots__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1010px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  margin: 0 auto;
}

/* END jackpots */
.designed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.designed__item {
  padding: 40px 0;
  width: 50%;
}

.designed__item--first {
  position: relative;
  padding-right: 50px;
}

.designed__item--second {
  padding-left: 50px;
}

.designed__img {
  position: absolute;
  z-index: 10;
  right: 50px;
  top: -260px;
}

.designed__btn {
  padding: 0 0 25px;
}

/* END designed */
.why-choose__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 970px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* END why-choose */
.ultimate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50px, 1fr) minmax(auto, 705px) minmax(auto, 720px);
      grid-template-columns: minmax(50px, 1fr) minmax(auto, 705px) minmax(auto, 720px);
}

.ultimate__inner {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 0 40px;
  width: 100%;
  max-width: 705px;
}

.ultimate__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.ultimate__img-wrapper {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.ultimate__img {
  width: 100%;
  max-width: 720px;
}

/* END ultimate */
.get__header {
  margin-bottom: 50px;
}

.get__switch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 283px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #ebebeb;
  -webkit-border-radius: 28.5px;
          border-radius: 28.5px;
}

.get__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 675px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

/* END get */
.card {
  width: 100%;
  max-width: 317px;
  margin-top: 43px;
  border: 2px solid transparent;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.card:hover {
  border-color: #ebebeb;
}

.card:hover .link__hiden a {
  color: #2500f9;
}

.card__header {
  padding: 67px 15px 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f4f7f9));
  background-image: -webkit-linear-gradient(white, #f4f7f9);
  background-image: -o-linear-gradient(white, #f4f7f9);
  background-image: linear-gradient(white, #f4f7f9);
}

.card__price {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #999ca5;
  margin-bottom: 17px;
}

.card__amount {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #242f51;
}

.card__name {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #242f51;
}

.card__description {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #999ca5;
}

.card__body {
  padding: 40px 20px 15px;
}

.card__list li {
  text-align: center;
  margin-bottom: 25px;
}

.card__trail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__btn {
  margin-bottom: 30px;
}

.card__link {
  margin-bottom: 30px;
}

/* END card */
.meet {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 823px) minmax(auto, 563px);
      grid-template-columns: minmax(auto, 823px) minmax(auto, 563px);
}

.meet__img {
  margin-top: 85px;
}

.meet__body {
  margin-left: -25px;
}

.meet__rating {
  padding: 0 0 15px;
}

.meet__stars-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.meet__stars-list li {
  margin-right: 9px;
}

.meet__stars-list li:last-child {
  margin-right: 0;
}

.meet__star {
  fill: #ffc107;
  height: 21px;
  width: 21px;
}

.meet__title {
  font-size: 20px;
  font-weight: 600;
  color: #242f51;
  margin-bottom: 18px;
}

.meet__text {
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  color: #616368;
  margin-bottom: 30px;
}

/* END meet */
.slider {
  padding: 16px 120px;
  position: relative;
}

.slider__img {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__name {
  font-size: 18px;
  font-weight: 600;
  color: #242f51;
}

.slider__position {
  font-size: 18px;
  line-height: 1.62;
  font-weight: 400;
  color: #616368;
}

.slider__buttons-sections {
  right: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.slider__btn {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid #eff3f8;
  background-color: #fff;
  margin: 0 7px;
}

.slider__btn:last-child {
  margin-right: 0;
}

.slider__btn--left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
}

.slider__btn--left::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 57.5px;
  width: 1px;
  height: 25px;
  background-color: #e7e7e7;
}

.slider__btn:hover {
  cursor: pointer;
  background-color: #eff3f8;
}

.slider__arrow {
  fill: #dee1e6;
  width: 20px;
  height: 13px;
}

.slider__btn:hover .slider__arrow {
  fill: #2500f9;
}

/* END slider */
.asked__body {
  width: 100%;
  max-width: 945px;
  margin: 40px auto 0;
}

.asked__article {
  background-color: #f5f7fa;
  margin-bottom: 10px;
}

.asked__article--active {
  padding-top: 27px;
}

.asked__title {
  padding: 20px 38px 15px 42px;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #242f51;
}

.asked__title:hover {
  background-color: #e6e7e9;
}

.asked__title::after, .asked__title::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background-color: #242f51;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0px 0px 1px;
          box-shadow: 0px 0px 1px;
  cursor: pointer;
}

.asked__title::before {
  right: 38px;
}

.asked__title::after {
  right: 38px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.asked__title--active::before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.asked__title--active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.asked__text {
  padding: 15px 88px 75px 42px;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  color: #616368;
  display: none;
}

.asked__text--active {
  display: block;
}

/* END asked */
.download {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50px, 1fr) minmax(auto, 640px) minmax(auto, 834px);
      grid-template-columns: minmax(50px, 1fr) minmax(auto, 640px) minmax(auto, 834px);
}

.download__main {
  -ms-grid-column: 2;
      grid-column-start: 2;
  position: relative;
}

.download__stores {
  padding: 8px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.download__store-icon {
  width: 185px;
  height: 55px;
  margin-right: 32px;
}

.download__store-icon:last-child {
  margin-right: 0;
}

.download__img-wrapper {
  position: relative;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.download__img {
  position: absolute;
  top: 65.25%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
}

/* END downlaod */
.footer {
  background-color: #09142e;
}

.footer__inner {
  padding: 10px 0;
  max-width: 490px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyrights {
  padding: 15px 0;
  text-align: center;
  opacity: 0.21;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 170px;
}

/* END footer */
