    @import "DDS";
    /*fonts start*/
    
    $Poppins: 'Poppins',
    sans-serif;
    /*fonts end*/
    
    .container {
        max-width: 1200px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    /* END container */
    
    .section {
        padding: 90px 0;
        &--border-bottom {
            border-bottom: 2px rgba($color: #e5e6e5, $alpha: .43) solid;
        }
        &--without-padding {
            padding: 0;
        }
        &__header {
            width: 100%;
            max-width: 435px;
        }
        &__header--wide {
            max-width: 640px;
            margin: 0 auto;
        }
        &__title {
            font-family: $Poppins;
            font-size: 36px;
            line-height: 1.27;
            font-weight: 600;
            color: #242f51;
            margin: 5px 0 12px;
        }
        &__title--designed {
            width: 100%;
            max-width: 360px;
            margin-bottom: 25px;
        }
        &__title--wide {
            text-align: center;
            margin-bottom: 20px;
        }
        &__subtitle {
            font-family: $Poppins;
            font-size: 16px;
            line-height: 1.62;
            font-weight: 400;
            color: #616368;
            margin: 7px 0;
        }
        &__subtitle--wide {
            text-align: center;
        }
    }
    /* END section */
    
    .header {
        z-index: 1000;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        right: 0;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__links {
            width: 100%;
            max-width: 960px;
            display: flex;
            justify-content: space-between;
        }
        &__logo {
            cursor: pointer;
            font-family: $Poppins;
            font-size: 30px;
            line-height: 44px;
            font-weight: 700;
            color: #fcae61;
            span {
                color: #242f51;
            }
        }
    }
    /* END header */
    
    .nav {
        &__link {
            font-family: $Poppins;
            font-size: 16px;
            line-height: 44px;
            font-weight: 400;
            color: #242f51;
            margin: 0 15px;
            text-decoration: none;
        }
        &__link:hover {
            text-decoration: underline;
        }
    }
    /* END nav */
    
    .btn {
        cursor: pointer;
        width: 170px;
        height: 57px;
        background-color: #2500f9;
        border-radius: 28.5px;
        border: none;
        transition: all .2s linear;
        &__text {
            font-family: $Poppins;
            font-size: 16px;
            line-height: 44px;
            font-weight: 700;
            color: #ffffff;
        }
        &:hover {
            background-color: #260bc0;
        }
    }
    /* END btn */
    
    .intro {
        position: relative;
        height: 100vh;
        padding-top: 170px;
        background-color: rgba($color: #f9fbfc, $alpha: .4);
        &__bgbottom {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
        &__bgleft {
            position: absolute;
            top: 209px;
            right: 50%;
            z-index: -2;
            opacity: 0.18;
        }
        &__bgcenter {
            position: absolute;
            top: 167px;
            left: 46.5%;
            transform: translateX(-50%);
            z-index: -1;
        }
        &__inner {
            display: flex;
        }
        &__item {
            width: 50%;
        }
        &__item--first {
            padding-left: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__suptext {
            position: relative;
            width: 100%;
            max-width: 365px;
            font-family: $Poppins;
            font-size: 18px;
            line-height: 1.62;
            font-weight: 400;
            color: #242f51;
            background-color: #e2eaed;
            border-radius: 17.5px;
            padding: 6px 45px;
            text-align: center;
            margin: 8px 0;
        }
        &__img {
            position: absolute;
            left: 0;
            top: 0;
            padding: 11px;
            background-color: #feaa25;
            border-radius: 17.5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title {
            font-family: $Poppins;
            font-size: 60px;
            line-height: 1.25;
            font-weight: 600;
            color: #242f51;
            margin: 8px 0;
        }
        &__subtitle {
            font-family: $Poppins;
            font-size: 18px;
            line-height: 1.62;
            font-weight: 400;
            color: #616368;
            margin: 8px 0;
        }
        &__footer {
            display: flex;
            margin: 38px 0 8px;
        }
        &__link {
            margin-left: 25px;
            display: flex;
            align-items: center;
        }
        &__hlink {
            font-family: $Poppins;
            font-size: 16px;
            font-weight: 400;
            color: #2500f9;
            text-decoration: none;
        }
        &__hlink:hover {
            text-decoration: underline;
        }
        &__item--second {
            padding: 0 15px;
            display: flex;
            justify-content: center;
        }
        &__phone {
            width: 100%;
            max-width: 446px;
        }
    }
    /* END intro*/
    
    .trusted {
        text-align: center;
        &__title {
            text-align: center;
            font-family: $Poppins;
            font-size: 16px;
            line-height: 1.62;
            font-weight: 400;
            color: #242f51;
            margin-bottom: 40px;
        }
        &__body {
            align-items: center;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            max-width: 934px;
            width: 100%;
        }
        &__item {}
        &__img {}
    }
    /* END trusted */
    
    .features {
        display: flex;
        &__item {
            width: 50%;
        }
        &__item--first {
            position: relative;
        }
        &__phone {
            position: absolute;
            z-index: 10;
            right: 25px;
            top: -50px;
        }
        &__body {
            width: 100%;
            max-width: 380px;
            padding: 78px 0;
        }
    }
    /* END features */
    
    .row-col {
        margin-bottom: 55px;
        position: relative;
        padding-left: 120px;
        &:last-child {
            margin-bottom: 0;
        }
        &__horizontal {
            margin-bottom: 0;
            padding-left: 0;
            padding-top: 120px;
            width: 100%;
            max-width: 265px;
        }
        &--centred {
            margin-bottom: 55px;
            padding-top: 0;
        }
        &__padding--bottom {
            padding-bottom: 40px;
        }
        &__circle {
            position: absolute;
            top: 16px;
            left: 0;
            height: 88px;
            width: 88px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__circle--centred {
            position: static;
            margin: 0 auto 30px;
        }
        &__circle--red {
            background-color: #ffecef;
        }
        &__circle--blue {
            background-color: #f4f4ff;
        }
        &__circle--green {
            background-color: #e4ffee;
        }
        &__circle--ocean {
            background-color: #eaf9ff;
        }
        &__circle--yellow {
            background-color: #fff6d3;
        }
        &__circle--brown {
            background-color: #fdeee4;
        }
        &__icon {}
        &__title {
            font-family: $Poppins;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 8px;
            color: #242f51;
        }
        &__title--red {
            color: #f55767;
        }
        &__title--blue {
            color: #2563ff;
        }
        &__title--green {
            color: #40975f;
        }
        &__title--centred {
            text-align: center;
        }
        &__text {
            font-family: $Poppins;
            font-size: 16px;
            line-height: 1.62;
            font-weight: 400;
            color: #616368;
        }
        &__text--centred {
            text-align: center;
        }
    }
    /* END row-col */
    
    .jackpots {
        &__header {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__item {
            width: 100%;
            max-width: 550px;
            padding: 0 60px;
        }
        &__item--bold {
            font-family: $Poppins;
            font-size: 40px;
            line-height: 1.25;
            font-weight: 600;
            color: #242f51;
            border-right: 1px rgba($color: #4b4a48, $alpha: .38) solid;
        }
        &__item--regular {
            font-family: $Poppins;
            font-size: 16px;
            line-height: 1.62;
            font-weight: 400;
            color: #616368;
        }
        &__body {
            display: flex;
            width: 100%;
            max-width: 1010px;
            justify-content: space-between;
            padding-top: 100px;
            margin: 0 auto;
        }
    }
    /* END jackpots */
    
    .designed {
        display: flex;
        align-items: center;
        &__item {
            padding: 40px 0;
            width: 50%;
        }
        &__item--first {
            position: relative;
            padding-right: 50px;
        }
        &__item--second {
            padding-left: 50px;
        }
        &__img {
            position: absolute;
            z-index: 10;
            right: 50px;
            top: -260px;
        }
        &__btn {
            padding: 25px 0;
        }
    }
    /* END designed */
    
    .why-choose {
        &__header {}
        &__body {
            display: flex;
            width: 100%;
            max-width: 970px;
            justify-content: space-between;
            padding-top: 60px;
            margin: 0 auto;
            flex-wrap: wrap;
        }
    }
    /* END why-choose */
    
    .ultimate {
        display: flex;
        &__item {}
        &__item:first-child {
            padding: 0 40px;
            width: 100%;
            max-width: 710px;
        }
        &__item:last-child {
            position: relative;
        }
        &__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 10px;
        }
        &__img {
            position: absolute;
            top: 40px;
            left: -50px;
            min-width: 720px;
            width: 100%;
        }
    }